<h5>Add a movie to your <%= @list.name %> list</h5>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title) %>
  <%= f.input :comment %>
  <%= f.submit "Add movie", class: 'btn btn-flat' %>
<% end %>
